{
    "trailingComma": "all",
    "singleQuote": true,
    "printWidth": 100,
    "tabWidth": 2,
    "bracketSpacing": true,
    "proseWrap": "never",
    "useTabs": false,
    "semi": true,
    "endOfLine": "auto",
    "pluggins": ["prettier-plugin-tailwindcss"]
}